
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper { 
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-big {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    background-color: #006DFE;
    position: absolute;
    width: 253px;
    height: 3px; 
    bottom: 0;
    left: 0;
}

/*Header Styles START*/


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    padding-bottom: 20px;
  z-index: 10;
}  

.header-active {
  background: #0E1D28;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px; 
    color: white;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}

.header-burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger-line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    left: 0;
}

.burger-line-first {
    top: 0;
}

.burger-line-second {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.burger-line-third {
    bottom: 0;
}
/*Header Styles END*/

/*Intro Styles START*/

.intro {
    min-height: 100vh;
    background: url('/img/Heroheader-bg-min.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    padding-top: 263px; 
    padding-bottom: 399px;    /*insted of 223px because of it look better*/
}

.intro-title {
    font-size: 50px;
    line-height: 60px;
    width: 619px;
}

.intro-subtitle { 
    font-size: 16px;
    line-height: 24px;
    width: 564px;
    margin-top: 22px;
}

.search-form-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 54px;
}

.search-form-field {
    width: 297px;
    background-color: transparent;
    background: url('/img/svg/Oval.svg') no-repeat left 6px;
    background-size: 20px;
    border: 0;  
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.search-form-field::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form-field::-moz-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form-field:-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form-field::-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form-field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form-submit {
    height: 58px;
    width: 171px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
    background: #1B7DFF;
    border: 0;
}

.search-form-submit:hover, 
.search-form-submit:focus, 
.search-form-submit:active {
    background-color: #2c5284;
}

/*Intro Styles END*/   

/*Benefits Styles START*/
.benefits {
    margin-bottom: 131px;
}

.benefits-wrap {
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
            box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits-title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 87px 100px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #fff;
 }

.benefits-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 55px;
    padding: 0 100px;
}

.benefits-card {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits-card > img {
    max-width: 66px;
    margin-bottom: 37px;
    display: block;
}

.benefits-carrd-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px ;
}

.benefits-card-discription {
    font-size: 16px;
    line-height: 24px;  
    margin-bottom:  39px;
}

.learn-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url('/img/svg/ShapeArrow.svg') no-repeat 95% center;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}

.learn-more:hover, .learn-more:focus {
    background: url('/img/svg/ShapeArrow.svg') no-repeat right center;
}

/*Benefits Styles END*/

/*Gallery Styles START*/

.gallery {
    margin-bottom: 131px;
}

.gallery-section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 36px;
}

.gallery-title {
    margin-right: 15px;
}

.gallery-header-link {
    font-size: 16px;
    line-height: 24px;
    padding-right: 59px;
    color: #006DFE;
    text-decoration: none;
    background: url('/img/svg/ShapeArrow.svg') no-repeat 95% center;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}

.gallery-header-link:hover, .gallery-header-link:focus {
    background: url('/img/svg/ShapeArrow.svg') no-repeat right center;
}

.gallery-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 10px 2fr 10px 2fr 10px 2fr 10px 2fr 10px 2fr;
    grid-template-columns: repeat(6, 2fr);
    column-gap: 10px;
    row-gap: 10px;
}

.gallery-card {
    position: relative;
    overflow: hidden; 
} 

.gallery-card:hover .gallery-picture{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.gallery-card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.gallery-card-size-large {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.gallery-card-size-small {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.gallery-picture {
    width: 100%;
    -webkit-transition: 0.15s all;
    -o-transition: 0.15s all;
    transition: 0.15s all;
}

.gallery-picture-size-large {
    height: 354px;
    -o-object-fit: cover;
       object-fit: cover;
}

.gallery-picture-size-small {
    height: 283px;
    -o-object-fit: cover;
       object-fit: cover;
}

.gallery-caption {
    position: absolute;
    font-size: 50px;
    line-height: 60px;
    z-index: 5;
    color: #fff;
    bottom: 27px;
    left: 29px;
}

.gallery-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
}

/*Gallery Styles END*/
/*Places Styles START*/

.places {
    margin-bottom: 139px;
}

.places-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 108px 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 108px;  
    -webkit-box-align: center;  
        -ms-flex-align: center;  
            align-items: center;
    margin-bottom: 77px;
}

.places-info {
    margin-left: 47px;
}

.places-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.places-descr {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.places-link {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url('/img/svg/ShapeArrow.svg') no-repeat 95% center;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all; 
}

.places-link:hover, 
.places-link:focus,
.places-link:active {
    background: url('/img/svg/ShapeArrow.svg') no-repeat right center;
} 
/*Places Styles END*/

/*TOP Styles START*/


.top {
    margin-bottom: 86px;
}

.top-title {
    margin-bottom: 54px;
}

.top-cardS {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 52px;
  row-gap:  58px;
  column-gap: 25px;
  row-gap: 25px;
}

.top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}
 
.top-card-image {
    position: relative;
    margin-bottom: 45px;
}

.top-card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.top-card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0 auto 0 0;
}

.like {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 20px;
  background: url('/img/svg/Heart.svg') no-repeat right;
  margin-right: 14px ;
}

.comment {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 23px;
  background: url('/img/svg/Comments.svg') no-repeat right;
}

.top-card-descr {
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 31px;
}

.see-more {
  width: 118px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background-color: #006DFE;
  padding: 12px 19px;
  margin: auto 0 0 0;
}

.see-more:hover,
.see-more:active,
.see-more:focus {
  background-color: #2c5284;
}

/*TOP Styles END*/

/*VIDEO Styles START*/

.videos {
  width: 100%;
}

.videos-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video-item {
  padding-top: 56.25%;
}

.video-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*VIDEO Styles END*/
/*FOOTER Styles START*/

.footer {
  background: #0E1D28;
  padding: 119px 0;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-ligo {
  width: 50%;
}

.footer-nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-ul .footer-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.footer-menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
/*FOOTER Styles END*/

/*MEDIA Styles START*/

@media screen and (max-width: 940px) {
    .benefits {
        margin-bottom: 75px;
    }

    .search-form-field {
        margin-bottom: 25px;
    }

    .benefits-cards {
        padding: 0 15px;
        column-gap: 35px;
    }

    .benefits-card {
        margin-bottom: 55px;
    }
    
    .benefits-title {
        padding: 55px 15px;
    }

    .benefits-wrap {
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .gallery-card-size-large {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .gallery-card-size-small     {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .places {
        margin-bottom: 50px;
    }

    .places-wrapper {
        column-gap: 35px;
        row-gap: 150px; 
    }

    .places-info {
        margin-left: 0;
    }
    .places-title {
        font-size: 28px;
        margin-bottom:  15px;
    }

    .places-descr {
        margin-bottom: 15px;
    }

    .top-cardS {
        column-gap: 25px;
        row-gap: 45px; 
    }

    .top-card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }

    .top-card-image {
        margin-bottom: 20px;
    }

    .top-card-descr {
        margin-bottom: 20px;
    }

    .footer {
        padding: 60px 0;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 125px;
        padding-bottom: 220px;
    }

    .header-active {
        padding-bottom: 15px;
    }

    .header__wrapper{
        padding-top: 15px;
    }

    .header-burger {
        display: block;
    }
    
    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        z-index: 10;
        padding: 75px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);     
        -webkit-transition: 0.2s all linear;     
        -o-transition: 0.2s all linear;     
        transition: 0.2s all linear;   
    }

    .header__nav-active {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }

    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;    
    }

    .header__item:last-child {
        margin-bottom: 0;
    }

    .header__link {
        font-size: 42px;
        line-height: 48px;
    }
    .header-nav-close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        z-index: 12;
    }

    .header-nav-close-line {
        display: block;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;      
        width: 100%;
    }

    .header-nav-close-line:first-child {
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }

    .header-nav-close-line:last-child {
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }

    .intro-title {
        font-size: 32px;
        line-height: 48px;
        width: 100%;
    }

    .intro-subtitle {
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 45px;
    }

    .search-form-field {
        background: url(/img/svg/Oval.svg) no-repeat left 2px;
        background-size: 20px;
        margin-right: 0;
        /* width: 100%; */
        padding-bottom: 10px;
        min-width: 290px;
    }


    .benefits {
        margin-bottom: 35px;
    }

    .benefits-title {
        margin: 1px 0;
    }

    .benefits-card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
        text-align: center;
        margin-bottom: 25px;
    }

    .benefits-card > img {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .benefits-carrd-subtitle {
        margin-bottom: 10px;
    }

    .benefits-card-discription {
        margin-bottom: 15px;
        text-align:  justify;
    }

    .gallery-title {
        margin-right: 0;
        font-size: 22px;
        padding-bottom: 0px;
        margin-bottom: 5px;
    }

    .section-title::after {
        width: 30%;
    }

    .gallery-picture-size-large,
    .gallery-picture-size-small {
        height: 230px;
    }

    .gallery {
        margin-bottom: 76px;
    }

    .places-wrapper {
        row-gap: 20px;
    }
    .places-picture,
    .places-info {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
    .places-picture-mob-first {
        -ms-grid-row: -1;
            grid-row-start: -1;
    }
    .places-wrapper {
        margin-bottom: 40px;
    }
    .top-title > h2 {
        font-size: 28px;
    }

    .top {
        margin-bottom: 40px;
    }
    .top-card {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .top-card-stats {
            padding: 8px 20px;
            max-width: 386px;
    }
    
    .footer-ligo {
        width: 100%;
        margin-bottom: 15px;
    }
    .footer-logo-image {
        margin: 0 auto;
    }
    .footer-nav {
        width: 100%;
        margin-top: 15px;
    }
    .footer-ul {
        margin-bottom: 20px;
    }
}

/*MEDIA Styles END*/
