/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.wrapper { 
    max-width: 1060px;
    margin: 0 auto;
}


/*Header Styles START*/


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}   

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px; 
    color: white;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}

/*Header Styles END*/

/*Intro Styles START*/

.intro {
    min-height: 100vh;
    background: url('/img/Heroheader-bg.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    padding-top: 263px; 
}

.intro-title {
    font-size: 50px;
    line-height: 60px;
    width: 619px;
}

.intro-subtitle { 
    font-size: 16px;
    line-height: 24px;
    width: 564px;
    margin-top: 22px;
}

.search-form-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 54px;
}

.search-form-field {
    width: 297px;
    background-color: transparent;
    background: url('/img/Oval.svg') no-repeat left 6px;
    background-size: 20px;
    border: 0;  
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.search-form-field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form-submit {
    height: 58px;
    width: 171px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
    background: #1B7DFF;
    border: 0;
}

.search-form-submit:hover, 
.search-form-submit:focus, 
.search-form-submit:active {
    background-color: #2c5284;
}

/*Intro Styles END*/

/*Benefits Styles START*/

.benefits-wrap {
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits-title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
 }



/* .benefits-card {
    width: 317px;
    height: 287px;
}

.first-card {
    background: url('/img/Iconfirst-icon.png') no-repeat;
}

.second-card {
    background: url('/img/Iconsecond-icon.png') no-repeat;
}

.third-card {
    background: url('/img/Iconthird-icon.png') no-repeat;
}

.benefits-carrd-subtitle {
    margin-top: 103px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.benefits-card-discription {
    margin-top: 26px;
    font-size: 16px;
    line-height: 24px;
}

.learn-more {
    margin-top: 40px;
    color: #006DFE;
    font-size: 16px;
    line-height: 24px;
    background: url('/img/ShapeArrow.svg') no-repeat center;
} */


/*Benefits Styles END*/


