/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper { 
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-big {
    max-width: 1262px;
    margin: 0 auto;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    background-color: #006DFE;
    position: absolute;
    width: 253px;
    height: 3px; 
    bottom: 0;
    left: 0;
}

/*Header Styles START*/


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}   

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px; 
    color: white;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}

/*Header Styles END*/

/*Intro Styles START*/

.intro {
    min-height: 100vh;
    background: url('/img/Heroheader-bg.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    padding-top: 263px; 
    padding-bottom: 399px;    /*insted of 223px because of it look better*/
}

.intro-title {
    font-size: 50px;
    line-height: 60px;
    width: 619px;
}

.intro-subtitle { 
    font-size: 16px;
    line-height: 24px;
    width: 564px;
    margin-top: 22px;
}

.search-form-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 54px;
}

.search-form-field {
    width: 297px;
    background-color: transparent;
    background: url('/img/Oval.svg') no-repeat left 6px;
    background-size: 20px;
    border: 0;  
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.search-form-field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form-submit {
    height: 58px;
    width: 171px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
    background: #1B7DFF;
    border: 0;
}

.search-form-submit:hover, 
.search-form-submit:focus, 
.search-form-submit:active {
    background-color: #2c5284;
}

/*Intro Styles END*/

/*Benefits Styles START*/
.benefits {
    margin-bottom: 131px;
}

.benefits-wrap {
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits-title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
 }

.benefits-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits-card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits-card > img {
    max-width: 66px;
    margin-bottom: 37px;
    display: block;
}

.benefits-carrd-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px ;
}

.benefits-card-discription {
    font-size: 16px;
    line-height: 24px;  
    margin-bottom:  39px;
}

.learn-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url('/img/ShapeArrow.svg') no-repeat 95% center;
    transition: 0.2s all;
}

.learn-more:hover, .learn-more:focus {
    background: url('/img/ShapeArrow.svg') no-repeat right center;
}

/*Benefits Styles END*/

/*Gallery Styles START*/

.gallery {
    margin-bottom: 131px;
}

.gallery-section-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 36px;
}

.gallery-title {
    margin-right: 15px;
}

.gallery-header-link {
    font-size: 16px;
    line-height: 24px;
    padding-right: 59px;
    color: #006DFE;
    text-decoration: none;
    background: url('/img/ShapeArrow.svg') no-repeat 95% center;
    transition: 0.2s all;
}

.gallery-header-link:hover, .gallery-header-link:focus {
    background: url('/img/ShapeArrow.svg') no-repeat right center;
}

.gallery-cards {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-gap: 10px;
}

.gallery-card {
    position: relative;
    overflow: hidden; 
} 

.gallery-card:hover .gallery-picture{
    transform: scale(1.05);
}

.gallery-card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.gallery-card-size-large {
    grid-column: span 3;
}

.gallery-card-size-small {
    grid-column: span 2;
}

.gallery-picture {
    width: 100%;
    transition: 0.15s all;
}

.gallery-picture-size-large {
    height: 354px;
    object-fit: cover;
}

.gallery-picture-size-small {
    height: 283px;
    object-fit: cover;
}

.gallery-caption {
    position: absolute;
    font-size: 50px;
    line-height: 60px;
    z-index: 5;
    color: #fff;
    bottom: 27px;
    left: 29px;
}

.gallery-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
}

/*Gallery Styles END*/
/*Places Styles START*/

.places {
    margin-bottom: 139px;
}

.places-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;  
    align-items: center;
    margin-bottom: 77px;
}

.places-info {
    margin-left: 47px;
}

.places-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.places-descr {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.places-link {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url('/img/ShapeArrow.svg') no-repeat 95% center;
    transition: 0.2s all; 
}

.places-link:hover, 
.places-link:focus,
.places-link:active {
    background: url('/img/ShapeArrow.svg') no-repeat right center;
} 


/*Places Styles END*/


